body{
  font-family: 'Work Sans', sans-serif;
}

#header{
  display: flex;
  justify-content: center;
}

#text{
  width: 200px;
  line-height: 60px;
}

h1 {
  color: #FF2300;
  font-size: 500%;
  font-family: 'Barrio', cursive;
}

.vowel{
  color: #00CDC4;
}
.special{
  color: #00259B;
}
.green{
  color: #34AF00;
}
.orange{
  color: #FF9E00;
}

#kitty:hover
{
  -webkit-transform: rotateZ(10deg);
  -ms-transform: rotateZ(10deg);
  transform: rotateZ(10deg);
}


#jelly:hover
{
  -webkit-transform: rotateZ(-10deg);
  -ms-transform: rotateZ(-10deg);
  transform: rotateZ(-10deg);
}

#kitty{
  height: 200px;
  width: 200px;
  background-image: url("/assets/kitty.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#jelly{
  height: 200px;
  width: 200px;
  background-image: url("/assets/jelly.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#gallery-space{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
}

.canvas{
  height: 200px;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
  border-color: black;
}

.canvas-pixel{
  height: 8px;
  width: 8px;
}