body{
  font-family: 'Work Sans', sans-serif;
}

#header{
  display: flex;
  justify-content: center;
}

#text{
  width: 200px;
  line-height: 60px;
}

#nav{
  display: flex;
  justify-content: center;
}

/*#gallery{
  height: 100px;
  width: 200px;
  background-image: url("/assets/gallery.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}*/

h1 {
  color: #FF2300;
  font-size: 500%;
  font-family: 'Barrio', cursive;
}

.vowel{
  color: #00CDC4;
}
.special{
  color: #00259B;
}
.green{
  color: #34AF00;
}
.orange{
  color: #FF9E00;
}

#kitty:hover
{
  -webkit-transform: rotateZ(10deg);
  -ms-transform: rotateZ(10deg);
  transform: rotateZ(10deg);
}


#jelly:hover
{
  -webkit-transform: rotateZ(-10deg);
  -ms-transform: rotateZ(-10deg);
  transform: rotateZ(-10deg);
}

#kitty{
  height: 200px;
  width: 200px;
  background-image: url("/assets/kitty.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#jelly{
  height: 200px;
  width: 200px;
  background-image: url("/assets/jelly.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.canvas-pixel{
  box-sizing:border-box;
  background-color: white;
  height: 20px;
  width: 20px;
  border: 1px solid;
  border-color: black;
}

.palette-pixel{
  border: 2px solid;
  border-color: black;
  cursor:pointer;
  height: 40px;
  width: 40px;
}

.tools{
  opacity: .8;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 110%;
  font-weight: bold;
  cursor:pointer;
  color: white;
  border-radius: 15px;
  height: 80px;
  width: 132px;
}

.tools:hover{
  opacity: 1;
}

.tools:nth-child(19){
  background-image: url("/assets/erase.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.tools:nth-child(20){
  background-image: url("/assets/clear.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.tools:nth-child(21){
  background-image: url("/assets/save.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#palette{
  width: 132px;
  height: 395px;
  display: flex;
  flex-wrap: wrap;
  border-style: black 1px solid;
  margin-right: 2%;
}

#canvas{
  box-shadow: 4px;
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

#paint-studio{
  height: 65%;
  display: flex;
  justify-content: center;
}

#main{
  display: flex;
  justify-content: center;
}

#user-count{
  color: #FF2300;
}

#right-side{
  display: flex;
  flex-direction: column;
}

#chat{
  margin-left: 2%;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  overflow: auto;
}

form {
  background: #000;
  padding: 3px;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 70%;
  margin-right: .5%;
}

form button {
  width: 23%;
  background: #f13b63;
  border: none;
  padding: 10px;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#discussion-space{
  height: 450px;
}

@media (min-width: 600px){
  .canvas-pixel{
    height: 20px;
    width: 20px;
  }

  .tools:hover{
    background-color: white;
    color: #ef4566;
  }

  .palette-pixel:hover{
    transform: scale(1.2);
  }
}